.authPage {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #edf2f4;
}

.container {
	width: 100%;
	max-width: 400px;
	padding: 20px;
}

@media (max-width: 480px) {
	.authPage {
		padding: 20px 10px;
	}

	.container {
		padding: 15px;
	}
}
